<div class="admin-nav">
    <div class="admin-nav-top">
        Colors
    </div>
    <div class="admin-nav-text">
        <div><a href="{{path('app_admin_color')}}">Colors list</a></div>
        <div><a href="{{path('app_admin_new_color')}}">Add a new color</a></div>
    </div>
</div>

<div class="admin-nav">
    <div class="admin-nav-top">
        Lustres
    </div>
    <div class="admin-nav-text">
        <div><a href="{{path('app_admin_lustre')}}">Lustres list</a></div>
        <div><a href="{{path('app_admin_new_lustre')}}">Add a new lustre</a></div>
    </div>
</div>

<div class="admin-nav">
    <div class="admin-nav-top">
        Users
    </div>
    <div class="admin-nav-text">
        <div><a href="{{path('app_admin_user')}}">Users list</a></div>
    </div>
</div>