<div class="message-menu-header">
    <h2 class="message-menu-title">Message Box Menu</h2>
</div>
<div class="message-menu-body">
    <div class="list-group">
        {% if app.request.get('_route') == 'app_message_index' %}
            <a href="{{path('app_message_index')}}" class="list-group-item list-group-item-action-active">Home</a>
            <hr>
            <a href="{{ path('app_message_send', {'id': app.user.id})}}" role="button">Sending a message</a>
            <a href="{{path('app_message_received')}}" class="list-group-item list-group-item-action-active">Received Box</a>
            <a href="{{path('app_message_sent')}}" class="list-group-item list-group-item-action-active">Sent Box</a>
            
        {% endif %}
        
        {% if app.request.get('_route') == 'app_message_send' %}
            <a href="{{path('app_message_index')}}" class="list-group-item list-group-item-action-active">Home</a>
            <a href="{{ path('app_message_send', {'id': app.user.id})}}" role="button">Sending a message</a>
            <hr>
            <a href="{{path('app_message_received')}}" class="list-group-item list-group-item-action-active">Received Box</a>
            <a href="{{path('app_message_sent')}}" class="list-group-item list-group-item-action-active">Sent Box</a>
        {% endif %}
        {% if app.request.get('_route') == 'app_message_received' %}
            <a href="{{path('app_message_index')}}" class="list-group-item list-group-item-action-active">Home</a>
            <a href="{{ path('app_message_send', {'id': app.user.id})}}" role="button">Sending a message</a>
            <a href="{{path('app_message_received')}}" class="list-group-item list-group-item-action-active">Received Box</a>
            <hr>
            <a href="{{path('app_message_sent')}}" class="list-group-item list-group-item-action-active">Sent Box</a>
        {% endif %}
        {% if app.request.get('_route') == 'app_message_sent' %}
            <a href="{{path('app_message_index')}}" class="list-group-item list-group-item-action-active">Home</a>
            <a href="{{ path('app_message_send', {'id': app.user.id})}}" role="button">Sending a message</a>
            <a href="{{path('app_message_received')}}" class="list-group-item list-group-item-action-active">Received Box</a>
            <a href="{{path('app_message_sent')}}" class="list-group-item list-group-item-action-active">Sent Box</a>
            <hr>
        {% endif %}
        
    </div>
</div>