{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <div class="formulaire-wrapper">
            <div class="formulaire">
                <div>
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                </div>
                <div>
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" onkeyup="checkPasswordStrength()" required>
                    <ol class="info-window">
                        <li class="one">You password must contain at least 1 Uppercase Letter.<div id="output-one"></div></li>
                        <li class="two">Your password must contain at least 1 lowercase letter.<div id="output-two"></div></li>
                        <li class="three">You password must contain at least one Number. <p id="output-three"></p></li>
                        <li class="four">Your password must contain at least 1 "srecial" character (/>! @ + # $ % ^ & * , ?( ) _ ~ - ). <p id="output-four"></p></li>
                        <li class="five">Your password must be at least 8 characters long. <p id="output-five"></p></li>
                    </ol>
                </div>
                <a href="{{path('app_forgot_password_request')}}">Password lost ? Click here</a>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >
                
                <input type="hidden" name="raison">

                <button class="btn btn-lg btn-primary" type="submit">
                    Sign in
                </button>
            </div>
        </div>
        {% block javascripts %}
            <script src="/js/password_strength.js"></script>
            <script src="https://code.jquery.com/jquery-3.7.0.js"
            integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
            crossorigin="anonymous"></script>
        {% endblock %}
</form>

{% endblock %}
