{% extends 'base.html.twig' %} 

{% block title %}Edit this lustre{% endblock %}

{% block body %}

<h1>Edit this lustre</h1>
<hr>

<div class="formulaire-wrapper">
    {{ form_start(form) }}
    <div class="formulaire">
        {{ form_row(form.type) }}
        {{ form_row(form.minerals)}}
        {{ form_row(form.submit)}}
    </div>
    {{ form_end(form) }}
</div>


{% endblock %}