{% extends 'base.html.twig' %}

{% block title %}Lustres List{% endblock %}

{% block body %}
<div class="options">
    <a href="{{ path('app_admin_new_lustre') }}">Add a lustre</a>
</div>

<h1>Lustres List</h1>

<div class="list-wrapper">
    <div>
        <ul>
            {% for lustre in lustres %}
                <li>
                    <a href="{{path('show_lustre', {'slug': lustre.slug})}}">{{lustre.type}}</a>
                    <a class="edit-btn" href="{{ path('app_admin_edit_lustre', {'slug': lustre.slug}) }}" aria-label="Edit">Edit</a>
                    <a class="delete-btn" href="{{ path('app_admin_delete_lustre', {'slug': lustre.slug}) }}" aria-label="Delete">Delete</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<nav>
    {{knp_pagination_render(lustres)}}
</nav> 

{% endblock %}