{% extends 'base.html.twig' %}

{% block title %}Lustres List{% endblock %}

{% block body %}
<div class="options">
    <a href="{{ path('app_admin_new_lustre') }}">Add a lustre</a>
</div>

<div class="list-main">
    <aside class="aside-wrapper">
        {% include "_partials/_admin_nav.html.twig"%}
    </aside>

  <div class="admin-list-wrapper">
      <div class="admin-list-header">
        <h1 id="admin-list-title">Lustre List :</h1>
        <hr>
      </div>
      {% for lustre in lustres %}
      <div id="admin-list-group">
        <a href="{{path('show_lustre', {'slug': lustre.slug})}}">{{lustre.type}}</a>
        <div class="actions">
          <a class="edit-btn" href="{{ path('app_admin_edit_lustre', {'slug': lustre.slug}) }}" aria-label="Edit">Edit</a>
          <form action="{{ path('app_admin_delete_lustre', {'slug': lustre.slug}) }}" method="post">
            <button class="delete-btn" aria-label="Delete">Delete</a>
          </form>
        </div>
      </div>
      {% endfor %}
    <nav>
        {{knp_pagination_render(lustres)}}
    </nav> 
  </div>
</div>



{% endblock %}