{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}

<figure id="figure-logo">
    <img id="minerals-logo" src="{{ asset('uploads/images/minerals.png')}}">
    <h1 id="fig-logo-title">KZ Minerals</h1>
</figure>
<div id="carousel1">
    <figure id="diaporama">
        <img src="{{ asset('uploads/images/sainte-marie-aux-mines-photo.jpg') }}">
    </figure>
    <figure id="diaporama">
        <img src="{{ asset('uploads/images/entre-les-tentes-de-la-rue-osmont-photo-dna-anne-muller-1656531412.jpg') }}">
    </figure>
    <figure id="diaporama">
        <img src="{{ asset('uploads/images/vallee_ste_marie_09-2014_001.jpg') }}">
    </figure>
</div>

{% include "search/search_data.html.twig" with {
    'route': 'app_search',
    form: form
} only %}

<section class="adv-search-section">
    <h2>Advanced Search</h2>

<div class="adv-search-wrapper">

    <div class="adv-search">
        <div class="adv-search-border">
            <div class="adv-search-fields">
                {% include "search/advanced_search_data.html.twig" with {
                    form2: form2
                } %}
            </div>
        </div>
    </div>

</div>
</section>



<section id="home-description">
    <div id="description-wrapper">
        <div id="lightbox1">
            <figure>
                <img id="image-zoom1" src="{{asset('uploads/images/Fluorite_and_Calcite_exhibition_4-3.01e3325.width-1600.51eb5a3.jpg')}}">
            </figure>
        </div>
        
        <hgroup>
            <h2>Qu'est-ce que KZ Minerals ?</h2>
            <p>
                Par passion de collecter divers minéraux lors de salons et de bourses dédiés,
                j'ai conçu ce site afin de permettre de partager les connaissances que nous avons sur les minéraux.</br>
                Basé sur le concept de wiki, vous pouvez ajouter de nouvelles pages de minéraux ou en modifier une déjà disponible sur le site,
                vous pouvez également discuter et débattre avec les autres utilisateurs sur les modifications qui ont été apportés.
            </p>
        </hgroup>
    </div>
</section>

{% block javascript %}
    <script src="/js/carousel_auto.js"></script>
    <script src="/js/lightbox.js"></script>
{% endblock %}

{% endblock %}
