{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<h1>Contact us</h1>
<div class="formulaire-wrapper">
    {{ form_start(form) }}
    <div class="formulaire">
        {{ form_row(form.lastName)}}
        {{ form_row(form.firstName)}}
        {{ form_row(form.email)}}
        {{ form_row(form.subject)}}
        {{ form_row(form.message)}}
        {{ form_row(form.validate)}}
    </div>
    {{ form_end(form) }}
</div>

{% endblock %}
