{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}


<div aria-labelledby="contact-heading" class="contact-wrapper">
    <h1 id="contact-heading">Contact us</h1>
    <hr>
    {{ form_start(form) }}
    <div class="formulaire">
        {{ form_row(form.lastName)}}
        {{ form_row(form.firstName)}}
        {{ form_row(form.email)}}
        {{ form_row(form.subject)}}
        {{ form_row(form.message)}}
        {{ form_row(form.validate)}}
    </div>
    {{ form_end(form) }}
</div>

{% endblock %}
