<form id="mineral-advancedSearch-form">
{{ form_start(form2) }}

<div id="advanced-search-bar">
    {{ form_row(form2.name)}}
    {{ form_row(form2.formula)}}
    {{ form_row(form2.crystal_system)}}
    {{ form_row(form2.density)}} 
    {{ form_row(form2.hardness)}}
    {{ form_row(form2.fracture)}}
    {{ form_row(form2.streak)}}
    {{ form_row(form2.category)}}
    {{ form_row(form2.varieties)}}
    {{ form_row(form2.colors)}}
    {{ form_row(form2.lustres)}}
    <button id="submit-advanced-search" type="submit">search</button>
</div>

{{ form_end(form2)}}
<div id="search-results">
    
</div>
</form>
