{{ form_start(form2) }}

<div class="advanced-search-bar">
    {{ form_row(form2.name)}}
    {{ form_row(form2.formula)}}
    {{ form_row(form2.crystal_system)}}
    {{ form_row(form2.density)}} 
    {{ form_row(form2.hardness)}}
    {{ form_row(form2.fracture)}}
    {{ form_row(form2.streak)}}
    {{ form_row(form2.category)}}
    <button id="submit-advanced-search" type="submit">search</button>
</div>

{{ form_end(form2)}}