{% extends 'base.html.twig' %}

{% block title %}Categories List{% endblock %}

{% block body %}
<div class="mineral-options">
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_admin_new_category') }}">Add new category</a>
    {% endif %}
</div>

<div class="list-wrapper">
    <h1>Categories List</h1>
    <hr>    
    
    <div>
        <ul id="categories-list">
            {% for category in categories %}
                <li>
                    <a href="{{path('show_category', {'slug': category.slug})}}">{{category.name}}</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="edit-btn" href="{{ path('app_admin_edit_category', {'slug': category.slug}) }}" aria-label="Edit">Edit</a>
                        <a class="delete-btn" href="{{ path('app_admin_delete_category', {'slug': category.slug}) }}" aria-label="Delete">Delete</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
