{% extends 'base.html.twig' %}

{% block title %}Categories List{% endblock %}

{% block body %}
<div class="mineral-options">
    <a href="{{ path('new_category') }}">Add new category</a>
</div>

<h1>Categories List</h1>

<div class="list-wrapper">
    <div>
        <ul>
            {% for category in categories %}
                <li>
                    <a href="{{path('show_category', {'slug': category.slug})}}">{{category.name}}</a>
                    <a class="edit-btn" href="{{ path('edit_category', {'slug': category.slug}) }}" aria-label="Edit">Edit</a>
                    <a class="delete-btn" href="{{ path('delete_category', {'slug': category.slug}) }}" aria-label="Delete">Delete</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
