{% extends 'base.html.twig' %}

{% block title %}Discussion Board{% endblock %}

{% block body %}

<div class="mineral-options">
    <a href="{{ path('new_discussion', {'slug': mineral.slug}) }}">Launch a new discussion</a>
</div>

<h1>Discussions Board for {{ mineral.name }}</h1>

{% if mineral.discussions | length > 0 %}
    {% for discussion in mineral.discussions %}
        <div class="discussion-card">
            <hgroup class="discussion-subject">
                <time datetime="{{discussion.getDateTime}}">{{discussion.getDateTime}}</time>
                <h2>{{discussion.subject}}</h2>
                <div class="discussion-profile">
                    <figure id="discussion-avatar-header">
                        <img id="avatar-header" src="{{asset('uploads/images/' ~ discussion.user.avatar)}}">
                    </figure>
                    <p>{{discussion.user.username}}</p>
                </div>
            </hgroup>
            <div class="discussion-textarea">
                <p>{{discussion.content}}</p>
                <a class="answer-link" href="{{ path('new_comment', {'slug': mineral.slug, 'id': discussion.id}) }}">Made a comment</a>
            </div>
        </div>
        

        {% if discussion.comments | length > 0 %}
            {% for comment in discussion.comments %}
                {% if comment.parent | length > 0 %}
                    
                    <div class="response-comment-card" id="comment-{{ comment.id }}">
                        <hgroup class="response-comment-subject">
                            <time datetime="{{comment.getDateTime}}">{{comment.getDateTime}}</time>
                            <h2>Re : {{comment.discussion.subject}}</h2>
                            <h3>Response to comment {{comment.parent.id}} #</h3>
                            <div class="discussion-profile">
                                <figure id="comment-avatar-header">
                                    <img id="avatar-header" src="{{asset('uploads/images/' ~ comment.user.avatar)}}">
                                </figure>
                                <p>{{comment.user.username}}</p>
                            </div>
                        </hgroup>
                        <div class="discussion-textarea">
                            <p>{{comment.content}}</p>
                            <a class="reply-link" href="{{ path('respond_comment', {'slug': mineral.slug, 'id': discussion.id, 'comment': comment.id}) }}">Reply to this comment</a>
                        </div>
                       
                    </div>
                {% else %}
                    <div class="comment-card" id="comment-{{ comment.id }}">
                        <hgroup class="comment-subject">
                            <time datetime="{{comment.getDateTime}}">{{comment.getDateTime}}</time>
                            <h2>Re : {{comment.discussion.subject}}</h2>
                            <div class="discussion-profile">
                                <figure id="comment-avatar-header">
                                    <img id="avatar-header" src="{{asset('uploads/images/' ~ comment.user.avatar)}}">
                                </figure>
                                <p>{{comment.user.username}}</p>
                            </div>
                        </hgroup>
                        <div class="discussion-textarea">
                            <p>{{comment.content}}</p>
                            <a class="reply-link" href="{{ path('respond_comment', {'slug': mineral.slug, 'id': discussion.id, 'comment': comment.id}) }}">Reply to this comment</a>
                        </div>
                    </div>
                {% endif %}

            {% endfor %}
        {% else %}
        
        {% endif %}

    {% endfor %}

{% else %}
    <p>No Discussion Started</p>
{% endif %}

{% endblock %}