{% extends 'base.html.twig' %}

{% block title %}Discussions List{% endblock %}

{% block body %}

<div class="return-btn-zone">
    <a class="return-btn" href="{{ path('show_mineral', {'slug': mineral.slug}) }}">Return</a>
</div>

<div class="discussions-list-options">
    <a href="{{ path('new_discussion', {'slug': mineral.slug}) }}">Launch a new discussion</a>
</div>


<div id="discussions-list-body">
    <hgroup id="discussions-list-header">
        <h1>Discussions List for {{mineral.name}}</h1>
        <hr>
    </hgroup>

    <ol id="discussions-list">
        {% for discussion in mineral.discussions %}
            <li class="discussion-item">
                <div class="discussion-item-main">
                    <a href="{{path('discussion_mineral', {'slug': mineral.slug, 'discussionSlug': discussion.slug})}}">{{discussion.subject}}</a>
                    <span>Created by {{discussion.user.username}}</span>
                </div>
                {% if discussion.comments | length > 0 %}
                    <div class="discussion-item-stats">{{discussion.comments | length}} comments</div>
                {% else %}
                    <div class="discussion-item-stats">0 comments</div>
                {% endif %}
                
                <div class="discussion-item-lastCommentUser">
                    {% if discussion.comments | length > 0 %}
                            <img class="discussion-lastCommentUser-avatar" src="{{asset('uploads/images/' ~ discussion.comments|last.user.avatar)}}">
                            <div class="discussion-lastCommentUser-data">
                                <span>{{discussion.comments|last.user.username}}</span>
                                <time>{{discussion.comments|last.createdAt|date("l h:i")}}</time>
                            </div>
                    {% else %} 
                        <span>No comments yet</span>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
        
    </ol>
</div>

{% endblock %}
