{% extends 'base.html.twig' %}

{% block title %}{{discussion.subject}}{% endblock %}

{% block body %}

<div class="return-btn-zone">
    <a class="return-btn" href="{{ path('discussions_list', {'slug': mineral.slug}) }}">Return</a>
</div>

<hgroup id="discussion-header">
    <h1>{{discussion.subject}}</h1>
    <hr>
</hgroup>

<div id="discussion-body">
    <div class="discussion-card">
        <hgroup class="discussion-subject">
            <time datetime="{{discussion.getDateTime}}">{{discussion.getDateTime}}</time>
            <h2>Title: {{discussion.subject}}</h2>
            <div class="discussion-profile">
                <figure id="discussion-avatar-header">
                    <img id="avatar-header" src="{{asset('uploads/images/' ~ discussion.user.avatar)}}">
                </figure>
                {% if discussion.user == null %}
                    <div>Deleted user</div>
                {% else %}
                    <div>{{discussion.user.username}}</div>
                {% endif %}
                
            </div>
        </hgroup>
        {% if discussion.isDeletedByModerator == true %}
            <div class="discussion-textarea">
                <p>Discussion deleted by a moderator</p>
            </div>
        {% elseif discussion.isDeletedByModerator == false and discussion.isDeletedByUser == true %}
            <div class="discussion-textarea">
                <p>Discussion deleted by the user</p>
            </div>
        {% else %}
            <div class="discussion-textarea">
                <div>{{discussion.content | sanitize_html}}</div>
            </div>
            <div class="discussion-card-footer">
                <a class="answer-link" href="{{ path('new_comment', {'slug': mineral.slug, 'discussionSlug': discussion.slug}) }}">Made a comment</a>
                {% if is_granted('ROLE_USER') and app.user == discussion.user or is_granted('ROLE_MODERATOR') %}
                <a class="delete-btn" href="{{ path('delete_discussion', {'slug': mineral.slug, 'discussionSlug': discussion.slug}) }}">
                    Delete this discussion
                </a>
                {% else %}
                {% endif %}
            </div>
        {% endif %}
    </div>
    
    {% if discussion.comments | length > 0 %}
        {% for comment in discussion.comments %}
            {% if comment.parent | length > 0 %}
                
                <div class="response-comment-card" id="comment-{{ comment.slug }}">
                    <hgroup class="response-comment-subject">
                        <time datetime="{{comment.getDateTime}}">{{comment.getDateTime}}</time>
                        <h2>Re : {{comment.discussion.subject}}</h2>
                        <h3>Response to comment {{comment.parent.id}} #</h3>
                        <div class="discussion-profile">
                            <figure id="response-avatar-header">
                                <img id="avatar-header" src="{{asset('uploads/images/' ~ comment.user.avatar)}}">
                            </figure>
                            {% if comment.user == null %}
                                <div>Deleted User</div>
                            {% else %}
                                <div>{{comment.user.username}}</div>
                            {% endif %}
                        </div>
                    </hgroup>
                    {% if comment.isDeletedByModerator == true and comment.isDeletedByUser == false %}
                        <div class="discussion-textarea">
                            <p>Comment deleted by a moderator</p>
                        </div>
                    {% elseif comment.isDeletedByModerator == false and comment.isDeletedByUser == true %}
                        <div class="discussion-textarea">
                            <p>Comment deleted by the user</p>
                        </div>
                    {% else %}
                        <div class="discussion-textarea">
                            <div>{{comment.content | sanitize_html}}</div>
                        </div>
                        <div class="response-comment-card-footer">
                            <a class="reply-link" href="{{ path('respond_comment', {'slug': mineral.slug, 'discussionSlug': discussion.slug, 'commentSlug': comment.slug}) }}">Reply to this comment</a>
                            {% if is_granted('ROLE_USER') and app.user == comment.user or is_granted('ROLE_MODERATOR') %}
                                <a class="delete-btn" href="{{ path('delete_comment', {'slug': mineral.slug, 'discussionSlug': discussion.slug, 'commentSlug': comment.slug}) }}">
                                    Delete this comment
                                </a>
                            {% else %}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>

            {% else %}
                <div class="comment-card" id="comment-{{ comment.slug }}">
                    <hgroup class="comment-subject">
                        <time datetime="{{comment.getDateTime}}">{{comment.getDateTime}}</time>
                        <h2>Re : {{comment.discussion.subject}}</h2>
                        <div class="discussion-profile">
                            <figure id="comment-avatar-header">
                                <img id="avatar-header" src="{{asset('uploads/images/' ~ comment.user.avatar)}}">
                            </figure>
                            {% if comment.user == null %}
                                <div>Deleted user</div>
                            {% else %}
                                <div>{{comment.user.username}}</div>
                            {% endif %}
                        </div>
                    </hgroup>
                    {% if comment.isDeletedByModerator == true and comment.isDeletedByUser == false %}
                        <div class="discussion-textarea">
                            <p>Comment deleted by a moderator</p>
                        </div>
                    {% elseif comment.isDeletedByModerator == false and comment.isDeletedByUser == true %}
                        <div class="discussion-textarea">
                            <p>Comment deleted by the user</p>
                        </div>
                    {% else %}
                        <div class="discussion-textarea">
                            <div>{{comment.content | sanitize_html}}</div>
                        </div>
                        <div class="comment-card-footer">
                            <a class="reply-link" href="{{ path('respond_comment', {'slug': mineral.slug, 'discussionSlug': discussion.slug, 'commentSlug': comment.slug}) }}">Reply to this comment</a>
                            {% if is_granted('ROLE_USER') and app.user == comment.user or is_granted('ROLE_MODERATOR') %}
                                <a class="delete-btn" href="{{ path('delete_comment', {'slug': mineral.slug, 'discussionSlug': discussion.slug, 'commentSlug': comment.slug}) }}">
                                    Delete this comment
                                </a>
                            {% else %}
                            {% endif %}
                            {% if is_granted('ROLE_USER') %}
                                <a class="delete-btn" href="{{ path('report_user_comment', {'slug': mineral.slug, 'discussionSlug': discussion.slug, 'commentSlug': comment.slug})}}">Report this comment</a>
                            {% else %}
                            {% endif %}
                        </div>
                    {% endif %}

                </div>

            {% endif %}
        {% endfor %}
    {% else %}
        <div class="response-comment-card">
            <div class="discussion-textarea">
                <p>There's no comment added yet</p>
            </div>
        </div>
    {% endif %}
</div>


{% endblock %}