{% extends 'base.html.twig' %} 

{% block title %}Edit a mineral{% endblock %}

{% block body %}

<h1>Edit a Mineral</h1>
<hr>

<div class="formulaire-wrapper-mineral">
    {{ form_start(form) }}
    <div class="formulaire">
        {{ form_row(form.name) }}
        {{ form_row(form.image_title, {'attr': {'class': 'upload-image'}})}}
        {{ form_row(form.formula) }}
        {{ form_row(form.crystal_system) }}
        {{ form_row(form.density) }}
        {{ form_row(form.hardness) }}
        {{ form_row(form.fracture) }}
        {{ form_row(form.streak) }}
        {{ form_row(form.category) }}
        {{ form_row(form.colors) }}
        {{ form_row(form.lustres) }}
        {{ form_row(form.images) }}
        {{ form_row(form.country_name) }}
        <div id="mineral-map"></div>
        {{ form_row(form.latitude) }}
        {{ form_row(form.longitude) }}
        {{ form_row(form.submit) }}
    </div>
    {{ form_end(form) }}
</div>

{% block javascript %}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <script src="/js/map_form.js"></script>
{% endblock %}

{% endblock %}