{% extends 'base.html.twig' %} 

{% block title %}Edit Description{% endblock %}

{% block body %}

<div class="return-btn-zone">
    <a class="return-btn" href="{{ path('show_mineral', {'slug': mineral.slug}) }}">Return</a>
</div>

<div id="edit-description-wrapper">
    <div aria-labelledby="edit-description-heading" id="edit-description-header">
        <h1 id="edit-description-heading">Edit Description of {{mineral.name}}</h1>
    </div>
    {{ form_start(form) }}
    <div class="formulaire">
        {{ form_row(form.description) }}
        {{ form_row(form.save) }}
    </div>
    {{ form_end(form) }}
</div>

{% endblock %}