{% extends 'base.html.twig' %} 

{% block title %}Add or remove lustres for this mineral{% endblock %}

{% block body %}

<div class="return-btn-zone">
    <a class="return-btn" href="{{ path('show_mineral', {'slug': mineral.slug}) }}">Return</a>
</div>

<div id="edit-mineral-lustres-wrapper">
    <h1>Add or remove lustres for this mineral</h1>
    <hr>

    <div class="formulaire">
        {{ form_start(form) }}
            {{ form_row(form.lustres) }}
            {{ form_row(form.submit) }}
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}