{% extends 'base.html.twig' %}

{% block title %}Modifications History{% endblock %}

{% block body %}
    <h1>Modifications History</h1>
    <table>
        <thead>
            <tr>
                <th>Mineral</th>
                <th>User</th>
                <th>Modification Date</th>
                <th>Old Values</th>
                <th>New Values</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in history %}
                {% if entry.color == null %}
                <tr>
                    {% if entry.mineral == null %}
                        <td>Mineral Page Deleted</td>
                    {% else %}
                        <td>{{ entry.mineral.name }}</td>
                    {% endif %}
                    {% if entry.user == null %}
                        <td>User Deleted</td>
                    {% else %}
                        <td>{{ entry.user.username }}</td>
                    {% endif %}
                    <td>{{ entry.createdAt|date('Y-m-d H:i:s') }}</td>
                    <td>
                        
                        {% for keys in entry.changes %}
                            {% for key, change in keys %}
                                {% if change.0 is not defined  %}
                                    
                                {% else %}
                                    {{ key }}: {{ change.0 }}<br>
                                {% endif %}
                                
                            {% endfor %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for keys in entry.changes %}
                            {% for key, change in keys %}
                                {% if change.1 is not defined %}
                                    
                                {% else %}
                                    {{ key }}: {{ change.1 }}<br>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}