{% extends 'base.html.twig' %}

{% block title %}Minerals List{% endblock %}

{% block body %}

<div class="return-btn-zone">
    <a class="return-btn" href="{{ path('home_index') }}">Return Home Page</a>
</div>

<div class="minerals-list-options">
    <a href="{{ path('new_mineral') }}">Add new mineral page</a>
</div>

<div class="list-wrapper">
    <div id="list-wrapper-header">
        <hgroup>
            <h1>Minerals List</h1>
            <hr>
        </hgroup>
        <div id="list-wrapper-search">
            {% include "wiki/_minerals_list_search.html.twig" with {
                form: form
            } only %}
        </div>
    </div>

    <ul id="minerals-list">
        {# Le résultat de la requête affichera pour chaque élément mineral dans minerals : #}
        {% for mineral in minerals %}
        {# Le nom du minéral et le lien vers la page du minéral lié au slug #}
        <li><a href="{{path('show_mineral', {'slug': mineral.slug})}}">{{mineral.name}}</a></li>
        {% endfor %}
    </ul>
    {% if app.request.get('name') %}
        {{response.name}}
    {% else %}

    {% endif %}
    <nav>
        {{knp_pagination_render(minerals)}}
    </nav>

</div>

    {% block javascript %}
    <script src="/js/ajaxSearch.js"></script>
    {% endblock %}
{% endblock %}
