{% extends 'base.html.twig' %} 

{% block title %}Add a new category{% endblock %}

{% block body %}

<div class="formulaire-wrapper">
    {{ form_start(form) }}
    <div class="formulaire">
        {{ form_row(form.name) }}
        {{ form_row(form.minerals)}}
        {{ form_row(form.submit)}}
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}