{% extends 'base.html.twig' %}

{% block title %}Mineral Details{% endblock %}

{% block body %}

<div class="mineral-options">
        <a href="{{path('app_admin_delete_mineral', {'slug': mineral.slug})}}">Remove this Page</a>
        <a href="{{path('edit_mineral', {'slug': mineral.slug})}}">Edit this Page</a>
        <a href="{{path('discussions_mineral', {'slug': mineral.slug})}}">Discussions</a>
</div>

<div class="mineral-wrapper">
<hgroup id="mineral-title">
    <h1>{{mineral.name}}<br/></h1>
    {% if mineral.category | length > 0 %}
        <a href="{{ path('show_category', {'slug': mineral.category.slug}) }}">{{mineral.category.name}}</a>
    {% else %}
        <i>Missing information</i>
    {% endif %}
</hgroup>



{% if image | length > 0 %}
    <figure id="mineral-figure">
        {% for image in image %}
        <img class="mineral-image" src="{{asset('uploads/images/' ~ image.filename) }}" alt="Top Image Mineral">
        {% endfor %}
    </figure>
{% elseif image | length == 0 and substitutionImage | length > 0 %} 
    <figure id="mineral-figure">
        {% for image in substitutionImage %}
        <img class="mineral-image" src="{{asset('uploads/images/' ~ image.filename) }}" alt="Top Image Mineral">
        {% endfor %}
    </figure>
{% else %}
    <figure id="mineral-figure">
        <p>There's no image available</p>
    </figure>
{% endif %}



<section class="section-wiki">
    <h2>Table of Content</h2>

    <div>
        <div>
            <ul>
                <li class="table-list"><a>Varieties of {{mineral.name}}</a></li>
                <li class="table-list"><a>Gallery of {{mineral.name}}</a></li>
                <li class="table-list"></li>
                <li class="table-list"></li>
            </ul>
        </div>
    </div>
    
</section>

<section class="section-wiki">

    <h2>Detailled Caracteristics for {{mineral.name}}</h2>

    <div id="caracteristics-wrapper">
        <p>Formula :{{mineral.formula}}</p>
        <p>Crystal System : {{mineral.crystalSystem}}</p>
        <p>Density : {{mineral.density}}</p>
        <p>Hardness : {{mineral.hardness}}</p>
        <p>Fracture : {{mineral.fracture}}</p>
        <p>Streak : {{mineral.streak}}</p>
        <p>Color : <br/>
            {% if mineral.colors | length > 0 %}
                {% for color in mineral.colors %}
                    <a href="{{path('show_color', {'slug': color.slug}) }}">{{color.name}}, </a>
                {% endfor %}
            {% else %}
                Missing information
            {% endif %}
            <a href="{{path('edit_mineral_colors', {'slug': mineral.slug})}}">Add a color</a>
        </p>
        <p>Lustre : <br/>
            {% if mineral.lustres | length > 0 %}
                {% for lustre in mineral.lustres %}
                    <a href="{{ path('edit_mineral_lustres', {'slug': mineral.slug}) }}">{{lustre.type}}, </a>
                {% endfor %}
            {% else %}
                Missing information
            {% endif %}
            <a href="{{ path('edit_mineral_lustres', {'slug': mineral.slug})}}">Add a lustre</a>
        </p>
    </div>
</section>
</div>

<section class="section-wiki">
    <div id="varieties-wrapper">
        <div id="variety-title-wrapper">
            <hgroup id="variety-title">
                <h2>Varieties of {{mineral.name}}</h2>
                <hr>
            </hgroup>
            <a id="add-variety" href="{{ path('new_variety', {'slug': mineral.slug}) }}">Add a variety</a>
        </div>
        
        

        <div id="varieties-images">
        {% for image in varietyImages %}
            
            <figure class="figure-varieties">
            {% if image.filename is not null %}
                    <img class="mineral-image" src="{{asset('uploads/images/' ~ image.filename) }}" alt="Variety Mineral">
            {% else %}
                <i>Missing image</i>
            {% endif %}
            
            {% if image.variety.name is not null %}
                <figcaption><a href="{{path('show_variety', {'slug': image.variety.slug})}}">{{image.variety.name}}</a></figcaption>
            {% else %}
                <i>Missing information</i>
            {% endif %}
            </figure>

        {% endfor %}
        </div>
    </div>
</section>

<section class="section-map">
    <h2>Countries where {{mineral.name}} can be found</h2>
    <hr>

    <div id="mineral-map"></div>
    {% for coordinate in mineral.coordinates %}
    <div class="coordinate-data" data-lat="{{ coordinate.latitude }}" data-lng="{{ coordinate.longitude }}"></div>
    {% endfor %}
    
</section>

<section class="section-wiki">
    <div id="carousel-wrapper">
        <h2>Images Gallery of {{mineral.name}}</h2>
        <hr>

        <div id="cCarousel">
          <div class="arrow" id="prev"><span class="arrow-symbols">&#8249;</span></div>
          <div class="arrow" id="next"><span class="arrow-symbols">&#8250;</span></div>
        

            <div id="carousel-vp">
                <div id="cCarousel-inner">
        
                {% for image in mineral.images  %}
                    <article class="cCarousel-item">
                        <img class="mineral-image" src="{{asset('uploads/images/' ~ image.filename) }}" alt="Minerals">
                    </article>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% block javascript %}
    <script src="/js/carousel.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <script src="/js/map.js"></script>
{% endblock %}

{% endblock %}