{% extends 'base.html.twig' %}

{% block title %}Category Details{% endblock %}

{% block body %}

<h1>Minerals list for {{category.name}}</h1>

<div class="list-wrapper">
    <div>
        <ul>
            {% for mineral in category.minerals %}
            <figure>
                <img class="mineral-image" src="{{asset('uploads/images/' ~ image.filename) }}" alt="Category Image Mineral">
                <figcaption>{{mineral.name}}</figcaption>
            </figure>
            <li><a href="{{ path('show_mineral', {'id': mineral.id}) }}">{{mineral.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}