{% extends 'base.html.twig' %}

{% block title %}Variety Mineral Details{% endblock %}

{% block body %}

<div class="variety-options">
    <a role="button" href="{{path('edit_variety', {'slug': variety.slug})}}">Edit this Page</a>
</div>

<div id="mineral-variety-wrapper">
    <div aria-labelledby="mineral-variety-heading" class="variety-zone">
        <hgroup aria-labelledby="mineral-variety-heading" id="mineral-variety-header">
            <h1 id="mineral-variety-heading">{{variety.name}}<br/></h1>
            {% if variety.mineral | length > 0 %}
                Variety Mineral for <a href="{{ path('show_category', {'slug': variety.mineral.slug}) }}">{{variety.mineral.name}}</a>
            {% else %}
                <i>Missing information</i>
            {% endif %}
        </hgroup>

        <div id="variety-image-presentation-zone">
            {% if variety.imagePresentation != null %} 
            <figure id="mineral-figure">
                <img class="mineral-image" src="{{asset('uploads/images/' ~ variety.imagePresentation) }}" alt="Top Image Mineral Variety">
            </figure>
            {% else %}
                <figure id="mineral-figure">
                    <p>There's no image available</p>
                </figure>
            {% endif %}
        </div>
        
        <section aria-labelledby="secion-map-heading" class="section-map">
            <h2 id="section-map-heading">Countries where {{variety.name}} can be found</h2>
        
            <div id="mineral-map"></div>
            {% for coordinate in variety.coordinates %}
            <div class="coordinate-data" data-lat="{{ coordinate.latitude }}" data-lng="{{ coordinate.longitude }}"></div>
            {% endfor %}
        </section>
    </div> 
</div>
    <section class="section-wiki">
        <div aria-labelledby="image-gallery-title" id="carousel-wrapper">
            <h2 id="image-gallery-title">Images Gallery of {{variety.name}}</h2>
                {% for image in variety.images %}
                    <div class="lightbox-wrapper-variety">
                        <div class="lightbox3">
                            <figure>
                                {% if image.variety == null %}
                                    <figcaption><a href="{{ path('show_mineral', {slug: image.mineral.slug}) }}">{{ image.mineral.name }}</a></figcaption>
                                {% else %}
                                    <figcaption><a href="{{ path('show_variety', {slug: image.variety.slug}) }}">{{ image.variety.name }}</a></figcaption>
                                {% endif %}
                                <img class="image-zoom3" src="{{asset('uploads/images/' ~ image.filename) }}">
                            </figure>
                        </div>
                    </div>
                {% endfor %}
            <div id="cCarousel">
              <div class="arrow" id="prev"><span class="arrow-symbols">&#8249;</span></div>
              <div class="arrow" id="next"><span class="arrow-symbols">&#8250;</span></div>
            
                <div id="carousel-vp">
                    <div id="cCarousel-inner">
            
                    {% for image in variety.images  %}
                        <figure class="cCarousel-item">
                            <a class="download-icon" href="{{path('download_images', {'filename': image.filename})}}">
                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V274.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7V32zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V416c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352H64zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"/></svg>
                            </a>
                            <span class="zoom-in-message">Click for zoom in</span>
                            <img class="mineral-image" src="{{asset('uploads/images/' ~ image.filename) }}">
                        </figure>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% block javascript %}
    <script src="/js/lightbox.js"></script>
    <script src="/js/carousel.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <script src="/js/map.js"></script>
{% endblock %}

{% endblock %}