{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
<div class="message-box-wrapper">
    <div class="message-menu-wrapper">
        <div class="message-menu-header">
            <h2 class="message-menu-title">Message Box Menu</h2>
        </div>
        <div class="message-menu-body">
            <div class="list-group">
                <a href="{{path('app_message')}}" class="list-group-item list-group-item-action-active">Home</a>
                <a href="{{path('received_message')}}" class="list-group-item list-group-item-action-active">Received Box</a>
                <a href="{{path('sent_message')}}" class="list-group-item list-group-item-action-active">Sent Box</a>
            </div>
        </div>
    </div>

    <section class="container">
        <div class="row">
            <div class="message-resume">
                <h1>Messagerie</h1>
                <p>Message summary</p>
                <p>Received : {{ app.user.received|length}}</p>
                <p>Sent : {{app.user.sent|length}} </p>
                <a href="{{ path('send_message', {'id': app.user.id})}}" class="btn btn-primary" role="button" aria-controls="offcanvasExample">
                    Sending a message
                </a>
            </div>
        </div>
    </section>
</div>
{% endblock %}
