{% extends 'base.html.twig' %} {# Héritage de la view de base #}

{% block title %}Envoyer un message{% endblock %}

{% block body %}

<div class="message-box-wrapper">
    <div class="message-menu-wrapper">
        {% include "_partials/_message_menu.html.twig"%}
    </div>

    <div class="message-zone">
        <h1>Sending a message</h1>

        {{ form_start(formSend) }}
            {{ form_row(formSend.header) }}
            {{ form_row(formSend.recipient)}}
            {{ form_row(formSend.text)}}
            {{ form_row(formSend.send) }}
        {{ form_end(formSend) }}
    </div>
    
</div>
{% endblock %}