<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block meta %}
        {% endblock %}
        <title>{% block title %}Welcome to KZ Minerals!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        <link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
            crossorigin=""/>
            <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&family=Oswald:wght@400;600;700&family=Roboto+Condensed:ital,wght@0,400;0,500;0,600;0,700;1,300&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
        crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <nav id="nav-header" aria-label="Header">
                <div id="nav-right">
                    <div id="language-zone">
                        <img id="flag" alt="" src="" />
                        <select name="language" id="language-select" onchange="selectFlag(this);">
                            <option id="en" value="en">
                                EN
                            </option>
                            <option id="fr" value="fr">
                                FR
                            </option>
                        </select>
                    </div>
                                       
                    {% if app.user and app.request.get('_route') == 'app_profile' %}
                       <a id="bell-notifications" aria-controls="modal" href="#"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M224 0c-17.7 0-32 14.3-32 32V49.9C119.5 61.4 64 124.2 64 200v33.4c0 45.4-15.5 89.5-43.8 124.9L5.3 377c-5.8 7.2-6.9 17.1-2.9 25.4S14.8 416 24 416H424c9.2 0 17.6-5.3 21.6-13.6s2.9-18.2-2.9-25.4l-14.9-18.6C399.5 322.9 384 278.8 384 233.4V200c0-75.8-55.5-138.6-128-150.1V32c0-17.7-14.3-32-32-32zm0 96h8c57.4 0 104 46.6 104 104v33.4c0 47.9 13.9 94.6 39.7 134.6H72.3C98.1 328 112 281.3 112 233.4V200c0-57.4 46.6-104 104-104h8zm64 352H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7s18.7-28.3 18.7-45.3z"/></svg></a>
                       <div class="modal-body"></div>
                    {% endif %}
                    {% if app.request.get('_route') == 'app_admin_index' %}
                        <a class="isDisabled" href="#">Admin Page</a>
                    {% else %}
                        {% if is_granted('ROLE_ADMIN')%}
                            <a class="link-right" href="{{path('app_admin_index')}}">Admin Page</a>
                        {% endif %}
                    {% endif %}

                    {% if app.request.get('_route') == 'app_contact' %}
                        <a class="isDisabled" href="#">Contact</a>
                    {% else %}
                        <a class="link-right" href="{{path('app_contact')}}">Contact</a>
                    {% endif %}

                    {% if app.user %}
                    <div class="profile-card">
                        <figure id="figure-avatar-header">
                            <img class="avatar-header" src="{{asset('uploads/images/' ~ app.user.avatar)}}">
                        </figure>
                        <p>{{app.user.username}}</p>
                        <div id="user-links">
                            <a href="{{path('app_profile')}}">Profile</a>
                            <a href="{{path('app_logout')}}">Sign Out</a>   
                        </div> 
                    </div>
                    {% else %}
                    <a class="link-right" href="{{ path('app_login')}}">Sign In</a>
                    <a class="link-right" href="{{ path('app_register')}}">Register</a>
                    {% endif %}
                    
                </div>

                <div id="nav-left">
                    <a id="logo-header" href="{{ path('home_index') }}">
                        <img id="img-logo-header" src="{{asset('uploads/images/mineral-logo-filled.png')}}" alt="Small mineral logo">
                        KZ Minerals
                    </a>
                    <div class="panel">
                        <a class="anchor-panel" href="{{ path('app_category') }}">Categories List</a>
                        <a class="anchor-panel" href="{{ path('app_mineral') }}">Minerals List</a>
                        <a class="anchor-panel" href="{{ path('app_image') }}">Images List</a>
                    </div>
                </div>

                <nav id="mySidenav" class="sidenav" aria-label="Sidenav">
                    <a id="closeBtn" href="#" class="close">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
                    </a>
                    <ul>
                        {% if app.user %}
                        <div class="profile-responsive">
                            <figure id="figure-avatar-header">
                                <img class="avatar-header" src="{{asset('uploads/images/' ~ app.user.avatar)}}" alt="Default avatar white with gray background">
                            </figure>
                            <p>{{app.user.username}}</p>
                        </div>
                        <li><a class="linkTop" href="{{path('app_profile')}}">Profile</a></li>
                        <li><a class="linkTop" href="{{path('app_logout')}}">Sign Out</a></li>
                        <hr>
                        {% else %}
                        <li><a class="linkTop" href="{{ path('app_login')}}">Sign In</a></li>
                        <li><a class="linkTop" href="{{ path('app_register')}}">Register</a></li>
                        {% endif %}
                        {% if app.request.get('_route') == 'home_index' %}
                            <li><a class="isDisabled" href="#">Home Page</a></li>
                        {% else %}
                            <li><a class="linkTop" href="{{ path('home_index') }}">Home Page</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                        <li><a class="linkTop" href="{{path('app_admin_index')}}">Admin Page</a></li>
                        {% endif %}
                        <li><a class="linkTop" href="{{ path('app_category') }}">Categories List</a></li>
                        <li><a class="linkTop" href="{{ path('app_mineral') }}">Minerals List</a></li>
                        <li><a class="linkTop" href="{{ path('app_image') }}">Images List</a></li>
                        <li><a class="linkTop" href="{{path('app_contact')}}">Contact</a></li>
                        <li><a class="linkTop" href="{{path('terms_of_service')}}">Terms of Service</a></li>
                        <li><a class="linkTop" href="{{path('privacy_policy')}}">Privacy Policy</a></li>
                    </ul>
                </nav>
    
                <a href="#" id="openBtn">
                    <span class="burger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </a>
            </nav>
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        
        
        <button onclick="topFunction();" class="topBtn">
            <img src="{{asset('/uploads/images/up_6745208.png')}}">
        </button>
        <footer>
            <div id="footer-wrapper">
                <nav id="nav-footer" aria-label="Footer">
                    <a class="anchor-footer" href="{{path('terms_of_service')}}">Terms of Service</a>
                    <a class="anchor-footer" href="{{path('privacy_policy')}}">Privacy Policy</a>
                    <a class="anchor-footer" href="{{path('app_contact')}}">Contact</a>
                    <a class="anchor-footer" href="#">About</a>
                </nav>
                <div id="icon-wrapper">
                    <h3>Follow us on social networks: :</h3>
                    <div id="social-icons-group">
                        <a href="https://www.facebook.com/">
                            <svg id="facebook-icon" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 40 40">
                            <linearGradient id="a" x1="-277.375" x2="-277.375" y1="406.6018" y2="407.5726" gradientTransform="matrix(40 0 0 -39.7778 11115.001 16212.334)" gradientUnits="userSpaceOnUse">
                              <stop offset="0" stop-color="#0062e0"/>
                              <stop offset="1" stop-color="#19afff"/>
                            </linearGradient>
                            <path fill="url(#a)" d="M16.7 39.8C7.2 38.1 0 29.9 0 20 0 9 9 0 20 0s20 9 20 20c0 9.9-7.2 18.1-16.7 19.8l-1.1-.9h-4.4l-1.1.9z"/>
                            <path fill="#fff" d="m27.8 25.6.9-5.6h-5.3v-3.9c0-1.6.6-2.8 3-2.8H29V8.2c-1.4-.2-3-.4-4.4-.4-4.6 0-7.8 2.8-7.8 7.8V20h-5v5.6h5v14.1c1.1.2 2.2.3 3.3.3 1.1 0 2.2-.1 3.3-.3V25.6h4.4z"/>
                            </svg>
                        </a>
                        <a href="https://twitter.com/">
                            <img id="x-icon" src="{{asset('uploads/images/Twitter-X-Icon-PNG.png')}}" alt="X.com icon">
                        </a>
                    </div>
                </div>
                <small>&copy; Kevin ZITNIK</small>
            </div>
        </footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        <script src="/js/burger_menu.js"></script>
        <script src="/js/accordion.js"></script>
        <script src="/js/topFunction.js"></script>
        <script src="/tarteaucitron/tarteaucitron.js"></script>
        <script src="/js/flag.js"></script>
        <script>
            tarteaucitron.init({
                "privacyUrl": "/privacy_policy", /* Privacy policy url */
                "bodyPosition": "bottom", /* or top to bring it as first element for accessibility */
            
                "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
                "cookieName": "tarteaucitron", /* Cookie name */
            
                "orientation": "middle", /* Banner position (top - bottom - middle - popup) */
            
                "groupServices": false, /* Group services by category */
                "serviceDefaultState": "wait", /* Default state (true - wait - false) */
            
                "showAlertSmall": false, /* Show the small banner on bottom right */
                "cookieslist": true, /* Show the cookie list */
                
                "showIcon": true, /* Show cookie icon to manage cookies */
                // "iconSrc": "", /* Optionnal: URL or base64 encoded image */
                "iconPosition": "BottomLeft", /* Position of the icon between BottomRight, BottomLeft, TopRight and TopLeft */
            
                "adblocker": false, /* Show a Warning if an adblocker is detected */
            
                "DenyAllCta" : true, /* Show the deny all button */
                "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
                "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */
            
                "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */
            
                "removeCredit": false, /* Remove credit link */
                "moreInfoLink": true, /* Show more info link */
                "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
                "useExternalJs": false, /* If false, the tarteaucitron.services.js file will be loaded */
            
                //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for subdomain website */
            
                "readmoreLink": "", /* Change the default readmore link pointing to tarteaucitron.io */
                
                "mandatory": true, /* Show a message about mandatory cookies */
                "mandatoryCta": true /* Show the disabled accept button when mandatory on */
            });
            </script>
        {% endblock %}
    </body>
</html>
