<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}

    </head>
    <body>
        <header>
            <nav id="nav-header">
                <div id="nav-right">
                    {% if is_granted('ROLE_ADMIN')%}
                    <a class="link-right" href="{{path('app_admin')}}">Admin Page</a>
                    {% endif %}
                    <a class="link-right" href="{{path('app_contact')}}">Contact</a>
                    {% if app.request.get('_route') == 'app_home' %}
                        <a class="isDisabled" href="#">Home Page</a>
                    {% else %}
                        <a class="link-right" href="{{ path('app_home') }}">Home Page</a>
                    {% endif %}
                    {% if app.user %}
                    <div class="profile-card">
                        <figure id="figure-avatar-header">
                            <img id="avatar-header" src="{{asset('uploads/images/' ~ app.user.avatar)}}">
                        </figure>
                        <p>{{app.user.username}}</p>
                        <div id="user-links">
                            <a class="link-right" href="{{path('app_profile')}}">Profile</a>
                            <a class="link-right" href="{{path('app_logout')}}">Sign Out</a>   
                        </div> 
                    </div>
                    {% else %}
                    <a class="link-right" href="{{ path('app_login')}}">Sign In</a>
                    <a class="link-right" href="{{ path('app_register')}}">Register</a>
                    {% endif %}
                    
                </div>

                <div id="nav-left">
                    <div id="accordion-wrapper">
                        <button class="accordion">Menu</button>
                        <div class="panel">
                            <a class="anchor-panel" href="{{ path('app_category') }}">Categories List</a>
                            <a class="anchor-panel" href="{{ path('app_mineral') }}">Minerals List</a>
                        </div>
                    </div>
                </div>

                <div id="mySidenav" class="sidenav">
                    <a id="closeBtn" href="#" class="close">×</a>
                    <ul>
                        {% if app.user %}
                        <li><a class="linkTop" href="{{path('app_profile')}}">Profile</a></li>
                        <li><a class="linkTop" href="{{path('app_logout')}}">Sign Out</a></li>
                        {% else %}
                        <li><a class="linkTop" href="{{ path('app_login')}}">Sign In</a></li>
                        <li><a class="linkTop" href="{{ path('app_register')}}">Register</a></li>
                        {% endif %}
                        {% if app.request.get('_route') == 'app_home' %}
                            <li><a class="isDisabled" href="#">Home Page</a></li>
                        {% else %}
                            <li><a class="linkTop" href="{{ path('app_home') }}">Home Page</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                        <li><a class="linkTop" href="{{path('app_admin')}}">Admin Page</a></li>
                        {% endif %}
                        <li><a class="linkTop" href="{{ path('app_category') }}">Categories List</a></li>
                        <li><a class="linkTop" href="{{ path('app_mineral') }}">Minerals List</a></li>
                        <li><a class="linkTop" href="{{path('app_contact')}}">Contact</a></li>
                    </ul>
                </div>
    
                <a href="#" id="openBtn">
                    <span class="burger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </a>

            </nav>
        </header>
        {% block body %}{% endblock %}
        <footer>
            <div id="footer-wrapper">
                <div id="nav-footer">
                    <a class="anchor-footer" href="">Privacy Policies</a>
                    <a class="anchor-footer" href="">Code of Conduct</a>
                    <a class="anchor-footer" href="">Legal Notices</a>
                    <a class="anchor-footer" href="{{path('app_contact')}}">Contact</a>
                    <a class="anchor-footer" href="">About</a>
                </div>
                <small>&copy; Kevin ZITNIK</small>
            </div>
        </footer>

        {% block javascripts %}
        <script src="/js/burger_menu.js"></script>
        <script src="/js/accordion.js"></script>
        <script src="/js/carousel.js"></script>
        {% endblock %}
    </body>
</html>
