{% extends 'base.html.twig' %} 

{% block title %}Add a color{% endblock %}

{% block body %}

<h1>Add a color</h1>
<hr>

<div class="formulaire-wrapper">
    {{ form_start(form) }}
    <div class="formulaire">
        {{ form_row(form.name) }}
        {{ form_row(form.minerals)}}
        {{ form_row(form.submit)}}
    </div>
    {{ form_end(form) }}
</div>


{% endblock %}