{% extends 'base.html.twig' %} 

{% block title %}Add a color{% endblock %}

{% block body %}

<div id="new-color-wrapper">
    <aside class="aside-wrapper">
        {% include "_partials/_admin_nav.html.twig"%}
    </aside>

    <div aria-labelledby="new-color-heading" id="new-color-right">
        <h1 id="new-color-heading">Add a color</h1>
        <hr>

        <div class="formulaire">
            {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.minerals)}}
                {{ form_row(form.submit)}}
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}