{% extends 'base.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block body %}

<nav class="profile-nav">
        <a class="anchor-btn" href="{{ path('settings_profile', {'id': app.user.id}) }}">User Settings</a>
        <a class="anchor-btn" href="{{ path('app_message') }}">Message Box</a>
</nav>

    
    <div class="profile-wrapper">
        <h1>Profile Details</h1>
        <hr>
        <div class="profile-avatar-wrapper">
            <figure class="figure-avatar">
                <img class="user-avatar" src="{{asset('uploads/images/' ~ app.user.avatar)}}">
            </figure>
            <div class="file-upload-wrapper">
                <p>Add image profile :</p>
                {{ form_start(form) }}
                {{ form_row(form.avatar) }}
                {{ form_row(form.valider) }}
                {{ form_end(form) }}
            </div>
        </div>
        
        <div id="profile-description">
            <div>
                <h3>Username:</h3>
                <p class="username-info">{{app.user.username}}</p>
            </div>
            <div>
                <h3>Role :</h3>
                {% if is_granted('ROLE_ADMIN') %} 
                <p class="role-info">Administrator</p>
                {% else %}
                <p class="role-info">User</p>
                {% endif %}
            </div>
            <div>
                <h3>Email Adress :</h3>
                <p id="email-info">{{app.user.email}}</p>
            </div>
        </div>
    </div>
{% endblock %}
