{% extends 'base.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block body %}

<nav class="profile-nav">
        <a class="anchor-btn" href="{{ path('settings_profile')}}">User Settings</a>
        <a class="anchor-btn" href="{{ path('app_message') }}">Message Box</a>
</nav>
 
    <div class="profile-wrapper">
        <h1>Profile Details</h1>
        <hr>
        <div class="profile-avatar-wrapper">
            <figure class="figure-avatar">
                <img class="user-avatar" src="{{asset('uploads/images/' ~ app.user.avatar)}}">
            </figure>
            <div class="file-upload-wrapper">
                <p>Add image profile :</p>
                {{ form_start(form) }}
                {{ form_row(form.avatar) }}
                {{ form_row(form.valider) }}
                {{ form_end(form) }}
            </div>
        </div>
        
        <div id="profile-description">
            <div>
                <h3>Username:</h3>
                <p class="username-info">{{app.user.username}}</p>
            </div>
            <div>
                <h3>Role :</h3>
                {% if is_granted('ROLE_ADMIN') %} 
                <p class="role-info">Administrator</p>
                {% elseif is_granted('ROLE_MODERATOR') %}
                <p class"role-info">Moderator</p>
                {% else %}
                <p class="role-info">User</p>
                {% endif %}
            </div>
            <div>
                <h3>Email Adress :</h3>
                <p id="email-info">{{app.user.email}}</p>
            </div>
        </div>
    </div>

    <div aria-labelledby="user-favorites-heading" id="user-favorites">
        <div id="user-favorites-header">
            <h2 id="user-favorites-heading">Your Favorites Pages</h2>
            <hr>
        </div>

        {% for favorite in favorites %}
            <p><a href="{{path('show_mineral', {'slug': favorite.mineral.slug})}}">{{favorite.mineral.name}}</a></p>
        {% endfor %}
    </div>

    {% block javascript %}
        <script>
            $(document).ready(function () {
                $.ajax({
                    url: '/profile/notifications'
                })
                .done(function(data){
                    console.log(data);
                    if (typeof data !== 'undefined') {
                        $('.modal-body').html(data);
                        $('#bell-notifications').click(function () {
                            $('.notification-modal').fadeIn(300);
                        })
                        $("#btn-quit").on("click",function(){
                            $('.notification-modal').fadeOut(300);
                        });
                    }
                })
                .fail(function (err) {
                    alert(err.statusText);
                });
            });
        </script>
    {% endblock %}
{% endblock %}
